body {
  font-family: Arial, sans-serif;
  background: #0f172a;
  color: white;
  text-align: center;
  padding-top: 120px;
}

.container {
  max-width: 700px;
  margin: auto;
}

h1 {
  font-size: 48px;
  margin-bottom: 10px;
}

h2 {
  font-weight: normal;
  color: #94a3b8;
}

.btn {
  display: inline-block;
  margin: 20px;
  padding: 15px 30px;
  background: #22c55e;
  color: black;
  text-decoration: none;
  border-radius: 8px;
  font-weight: bold;
}

.secondary {
  background: #38bdf8;
}
